@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-integral: "Integral CF Bold", sans-serif;
    --font-satoshi-regular: "Satoshi Regular", sans-serif;
    --font-satoshi-medium: "Satoshi Medium", sans-serif;
    --font-satoshi-bold: "Satoshi Bold", sans-serif;
}

@font-face {
    font-family: "Satoshi Regular";
    src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi Medium";
    src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi Bold";
    src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Integral CF Bold";
    src: url("../fonts/Integralcf-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.header-search {
    @apply relative bg-[#F0F0F0] w-[550px] py-[12px] px-[16px] rounded-[62px] outline-none;
}

.search-wrapper {
    position: relative;
}

.search-wrapper::before {
    content: "";
    z-index: 1;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url("./icons/glass.svg") center/contain no-repeat;
}

.order-table td:last-child {
    width: 0;
}
